html, body {
  font-family: Manrope, sans-serif;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 600;
  padding: 16px 40px;
  color: #fff;
  border-radius: 12px;
  background: #FF6433;
  cursor: pointer;
}
.logo {

}

.header {
}
.header-top {
  margin-bottom: 84px;
}
.container {
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}
.header__logo {
  padding-left: 51px;
}

.header__nav {
  margin-left: auto;
  display: flex;
}
.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 32px;
}
.header__nav-link {
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
}
.header__line {
  margin-right: 32px;
  height: 42px;
  background-color: gray;
  opacity: 0.36;
  border: 1px solid #939191;
}
.header__contact-box {
  display: flex;
}
.header__contact-img {
  margin-right: 14px;
  display: flex;
  align-items: center;
}
.header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__contact-name {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
.header-contact-phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75;
}

/* ----------------------------------------- */

.header__body {
  margin-bottom: 135px;
}

.header__body-inner {
  display: flex;
}
.header__body-main {
  padding-top: 82px;
}
.header__body-title {
  font-weight: 800;
  line-height: 84px;
  font-size: 64px;
  margin-bottom: 32px;
}
.header__body-buttons {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
}
.header__body-button {
  margin-right: 33px;
}

.header__body-button-play {
  position: relative;
  padding-left: 32px;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
}
.header__body-button-play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background: url("/images/icons/play-video.svg");
}

.header__body-block-info-open {
  display: flex;
}
.header__body-block-info-open-img {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.header__body-block-info-open-text {
}
.header__body-block-info-open-title {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
}
.header__body-block-info-open-main {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
}
.header__body-image {
  position: relative;
}
.header__body-block-service {
  position: absolute;
  top: 81px;
  left: -40px;
  display: flex;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  background-clip: padding-box;
}
.header__body-block-service-img {
  padding: 15px 14px 17px 13px;
}
.header__body-block-service-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-right: 37px;
}
.header__body-block-rating {
  position: absolute;
  bottom: 70px;
  right: -30px;
  display: flex;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  background-clip: padding-box;
}
.header__body-block-rating-value {
  padding: 24px 15px 24px 38px;
}
.header__body-rating {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;  
}
.header__body-rating-text {
  font-weight: 500;
  line-height: 24px;
}
.header__body-rating-img {
  margin: auto;
  padding-right: 32px;
}

/* offers */

.offers {
  background: #F2F2F2;
  padding-top: 128px;
}

.offers__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 8px;
}
.offers__subtitle {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 64px;
}
.offers__items {
  display: grid;
  grid: repeat(2, 1fr) / repeat(4, 1fr);
  margin-bottom: 32px;
}
.offers__item {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 73px 0 62px;
  background: #fff;
  margin: 0 8px 8px 0;
}
.offers__text {
  padding-top: 16px;
}
.offers__item:hover{
  background: #FF6433;
  cursor: pointer;
  color: #fff;
}
.offers__item:hover svg path{
  fill: #fff;
}
.offers__button {
  text-align: end;
  margin-right: 68px;
  position: relative;
}
.offers__button-arrow {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  cursor: pointer;
}
.offers__button-arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  display: block;
  width: 52px;
  height: 16px;
  background: url(/images/icons/services/arrow.svg);
}