html, body {
  font-family: Manrope, sans-serif;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.349);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.overlay--show {
  visibility: visible;
  opacity: 1;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.burger {
  display: none;
}

.button {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 600;
  padding: 16px 40px;
  color: #fff;
  border-radius: 12px;
  background: #FF6433;
  cursor: pointer;
}


.header__top {
  margin-bottom: 84px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}
.header__logo {
  padding-left: 51px;
}

.header__nav {
  margin-left: auto;
  display: flex;
}
.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 32px;
}
.header__nav-link {
  font-weight: 600;
  line-height: 28px;
  color: #1E1B1B;
}
.header__nav-link:hover {
  color: #FF6433;
  transition: all 0.2s;
}
.header__line {
  margin-right: 32px;
  height: 42px;
  background-color: gray;
  opacity: 0.36;
  border: 1px solid #939191;
}
.header__contact-box {
  display: flex;
}
.header__contact-img {
  margin-right: 14px;
  display: flex;
  align-items: center;
}
.header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__contact-name {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
.header-contact-phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75;
}

/* ----------------------------------------- */

.header__body {
  margin-bottom: 135px;
}

.header__body-inner {
  display: flex;
}
.header__body-main {
  padding-top: 82px;
}
.header__body-title {
  font-weight: 800;
  line-height: 84px;
  font-size: 64px;
  margin-bottom: 32px;
}
.header__body-buttons {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
}
.header__body-button {
  margin-right: 33px;
}

.header__body-button-play {
  position: relative;
  padding-left: 32px;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
}
.header__body-button-play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icons/play-video.svg");
}

.header__body-block-info-open {
  display: flex;
}
.header__body-block-info-open-img {
  margin-right: 13px;
  display: flex;
  align-items: center;
}

.header__body-block-info-open-title {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
}
.header__body-block-info-open-main {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
}
.header__body-image {
  position: relative;
  
}

.header__body-block-service {
  position: absolute;
  top: 81px;
  left: -40px;
  display: flex;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  background-clip: padding-box;
}
.header__body-block-service-img {
  padding: 15px 14px 17px 13px;
}
.header__body-block-service-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-right: 37px;
}
.header__body-block-rating {
  position: absolute;
  bottom: 70px;
  right: -30px;
  display: flex;
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  background-clip: padding-box;
}
.header__body-block-rating-value {
  padding: 24px 15px 24px 38px;
}
.header__body-rating {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;  
}
.header__body-rating-text {
  font-weight: 500;
  line-height: 24px;
}
.header__body-rating-img {
  margin: auto;
  padding-right: 32px;
}

/* OFFERS */

.offers {
  background: #F2F2F2;
  padding: 128px 0;
}

.offers__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 8px;
}
.offers__subtitle {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 64px;
}
.offers__items {
  display: grid;
  grid: repeat(2, 1fr) / repeat(4, 1fr);
  margin-bottom: 32px;
}
.offers__item {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 73px 0 62px;
  background: #fff;
  margin: 0 8px 8px 0;
}
.offers__text {
  padding-top: 16px;
}
.offers__item:hover{
  background: #FF6433;
  cursor: pointer;
  color: #fff;
}
.offers__item:hover svg path{
  fill: #fff;
}
.offers__button {
  text-align: end;
  margin-right: 68px;
  position: relative;
}

.offers__button-arrow {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  cursor: pointer;
}
.offers__button-arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  display: block;
  width: 52px;
  height: 16px;
  background: url(../images/icons/services/arrow.svg);
  background-repeat: no-repeat;
}

/* SECTION-HELP */


.process-help__main {
  display: flex;
  padding: 134px 0;
}
.process-help__follow {
  margin-right: 131px;
}
.process-help__follow-titile {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  max-width: 524px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}
.process-help__follow-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  max-width: 437px;
  margin-bottom: 32px;
}

.process-help__step {
  display: flex;
}
.process-help__step-number-line {
  margin-right: 24px;
}
.process-help__step-number {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #fff;
  background: #661CE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px 18px;
  border-radius: 50%;
  position: relative;
}
.process-help__step-number::after {
  content: '';
  width: 42px;
  height: 42px;
  top: 52px;
  left: 17px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
}
.process-help__step-line {
  text-align: center;
  padding: 22px 0;
}
.process-help__step-main {
}
.process-help__step-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding-top: 13px;
}
.process-help__step-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  padding-top: 13px;
  max-width: 336px;
}

/* CONTACT */

.container {
  position: relative;
}
.contact__images {
  display: flex;
}
.contact__image-left {
  margin-left: -318px;
}
.contact__image-right img{
  object-fit: cover;
}

.contact__text {
  position: absolute;
  top: 0;
  left: 15px;
  background: #FF6433;
  padding: 128px 80px;
  height: 100%;
}
.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 569px;
  margin-bottom: 48px;
}
.contact__button {
  color: #fff;
  background: #000;
}

/* VALUES */

.values {
  padding: 48px 0;
}
.values__inner {
  display: flex;
  justify-content: space-between;
}

.value__number {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
}
.value__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

/* BRANDS   */

.block-brands {
  padding: 128px 0 81px;
  background: #E2E6E9;
}

.block-brands__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 31px;
}
.block-brands__brands {
  display: grid;
  grid: repeat(2, 1fr) / repeat(5, 1fr);
}
.block-brands__brand img {
  width: 100%;
}

/* BLOG */

.blog {
  padding: 131px 0 136px;
}

.blog__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}
.blog__links {
  display: flex;
  margin-bottom: 46px;
}
.blog__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-right: 30px;
}
.blog__cards {
  display: grid;
  grid: repeat(2, 1fr) / repeat(3, 1fr);
  column-gap: 10px;
}
.blog__card {
  margin-bottom: 64px;
  max-width: 405px;
}
.blog__image img {
  width: 100%;
}
.blog__image-text {
  font-weight: 600;
  line-height: 28px;
  color: #939191;
  padding-top: 24px;
}
.blog__card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  padding: 16px 0;
}
.blog__card-text {
  font-weight: 600;
  line-height: 28px;
}

/* REVIEWS */

.reviews {
  background: #F2F2F2;
}

.reviews__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 76px;
  padding-top: 128px;
}
.reviews__slider {
  margin-bottom: 24px;
}

.reviews__slide {
  background: #fff;
  padding: 72px;
  margin-right: 48px;
  max-width: 613px;
}

.reviews__person {
  display: flex;
  margin-bottom: 24px;
}
.reviews__avatar {
  margin-right: 16px;
}
.reviews__person-info {
}
.reviews__person-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.reviews__person-city {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}
.reviews__paragraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  
}
.reviews__slider-arrows-dots {
  display: flex;
  justify-content: end;
}
.reviews__slider-arrows {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.reviews__slider-arrow {
  position: relative;
  z-index: 2;
  display: block;
}
.reviews__slider-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.reviews__slider-prev {
  margin-right: 37px;
}

.reviews__slider-arrow:hover path {
  fill: #fff;
  transition: all .3s;
}
.reviews__slider-arrow:hover::before {
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  background-color: #000;
  transition: all .3s;
}
.reviews__slider-arrows-dots {
  padding-bottom: 128px;
}
.reviews__slider-dots {
  margin-right: 453px;
}

.reviews__slider-dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__slider-dots button {
  font-size: 0;
  background-color: transparend;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  
}
.reviews__slider-dots li {
  margin-right: 15px;
}
.reviews__slider-dots li:last-child {
  margin-right: 0;
}
.reviews__slider-dots button::before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #939191;
}
.reviews__slider-dots .slick-active button::before {
  background-color: #FF6433;
  transition: all  .3s;
}

/* QUESTIONS */

.questions {
  background: #E2E6E9;
}
.questions__inner {
  padding: 128px 0;
}
.questions__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 86px;
}
.questions__accordeon {
  max-width: 896px;
  margin: 0 auto;
}

.questions__item {
  background: #fff;
  margin-bottom: 12px;
  padding: 32px 40px 38px;
}
.questions__item:last-child {
  margin-bottom: 0;
}

.questions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.questions__button {
  width: 51px;
  height: 48px;
  background: #FF6433;
  position: relative;
}
.questions__button::before,
.questions__button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 17px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}
.questions__button::after {
  transform: rotate(90deg);
  transition: all .3s;
  left: 35%;
}

.questions__link--active .questions__button::after {
  transform: rotate(0deg);
}
.questions__item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  max-width: 701px;
  padding-top: 16px;
  display: none;
}

/* FEEDBACK */

.feedback {
}
.feedback__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  padding-top: 121px;
  margin-bottom: 48px;
}
.feedback__form-address {
  display: flex;
  margin-bottom: 48px;
}
.feedback__form {
  width: 50%;
}
.feedback__input {
  display: block;
  background: #F2F2F2;
  border-radius: 2px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding: 23px 40px;
  width: 100%;
}
.feedback__input:last-child{
  margin-bottom: 0;
}
.feedback__contacts {
  margin-left: 139px;
}
.feedback__contacts-info {
  margin-bottom: 32px;
}
.feedback__contacts-info:last-child {
  margin-bottom: 0;
}
.feedback__contacts-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
.feedback__contacts-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.feedback_button {
  margin-bottom: 522px;
}

.location {
  background: url("../images/background-map.jpg");
  background-color: rebeccapurple;
  width: 100%;
  height: 448px;
}
.container {
  position: relative;
}

.location__map {
  position: absolute;
  bottom: -168px;
}

/* FOOTER-INFO */

.footer-info {
  color: #fff;
  background: #1E1B1B;
  opacity: 0.98;
}

.footer-info__inner {
  padding: 128px 0 129px;
  display: flex;
}
.footer-info__main {
}
.footer-info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  max-width: 463px;
  margin: 0 193px 64px 0;
}
.footer-info__social {
}
.footer-info__social-icon {
  margin-right: 23px;
}
.footer-info__social-icon:last-child {
  margin-right: 0;
}
.footer-info__contacts {
}
.footer-info__item {
  margin-bottom: 32px;
}
.footer-info__item:last-child {
  margin-bottom: 0;
}
.footer-info__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}
.footer-info__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

/* FOOTER */

.footer {
  color: #fff;
  background: #1E1B1B;
}
.footer-inner {
  padding: 65px 0 64px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
}
.footer__links {
  display: flex;
  align-items: center;
}
.footer__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-right: 36px;
}
.footer__link:hover {
  color: #FF6433;
  transition: all 0.2s;
}
.footer__copyright {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

/* =================================MEDIA================================== */

@media (max-width: 910px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 150;
  }
  .burger--follow {
    box-shadow: 0 1px 8px #a1a1a1;
    background: #fff;
    top: 5px;
    left: 5px;
    transition: all .2s;
  }
  .burger span {
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
  }
  .burger--close span {
    display: none;
  }
  .burger--close.burger::before {
    transform: rotate(45deg);
    position: fixed;
    top: 30px;
    transition: all .3s;
  } 
  .burger--close.burger::after {
    transform: rotate(-45deg);
    position: fixed;
    top: 30px;
    transition: all .3s;
  } 
  .header__line {
    display: none;
  }
  .header {
    padding-top: 175.5px;
  }
  .header__top {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 265px;
    height: 100vh;
    background: lightgray;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .header__top--open {
    transform: translateX(0);
  }
  .header__top-inner {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
    padding: 50px 0;
  }
  .header__logo {
    padding-left: 0;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .header__nav-item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .header__nav-item:last-child {
    margin: 0;
  }
  .header__nav {
    margin: 0;
  }
}

@media (max-width: 1280px) {
  .header__body {
    margin-bottom: 30px;
  }
  .header__body-image {
    display: none;
  }
  .header__body-title {
    text-align: center;
  }
  .header__body-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .header__body-title {
    line-height: 74px;
    font-size: 48px;
    margin-bottom: 32px;
}
.header__body-block-info-open-main {
  font-size: 14px;
}
}
@media (max-width: 392px) {
  .header__body-buttons {
    flex-direction: column;
    
  }
  .header__body-button {
    margin: 0;
  }
  .header__body-button-play {
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .offers__items {
    grid: repeat(4, 1fr) / repeat(2, 1fr);
}
.offers {
  padding: 28px 0;
}
.offers__subtitle {
  margin-bottom: 14px;
}
}
@media (max-width: 580px) {
  .offers__items {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    margin: 0 auto;
}
  .offers__subtitle {
    line-height: 48px;
    font-size: 36px;
  }
  .offers__item {
    padding: 40px 0 40px;
}
.offers__button {
  text-align: center;
}
.offers__button-arrow::after {
  display: none;
}
.offers__button {
  margin: 0 auto;
}
}
@media (max-width: 950px) {
  .process-help__main {
      flex-direction: column;
      align-items: center;
      padding: 34px 0;
  }
  .process-help__follow {
    margin: 0;
  }
  .process-help__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
  }
  .process-help__follow-titile {
    
    text-align: center;
  }
  .process-help__follow-text {
    text-align: center;
    margin: 0 auto;
  }
  .process-help__steps {
    margin-top: 100px;
  }

}
@media (max-width: 470px) {
  .process-help__follow-titile {
    font-size: 36px;
    line-height: 48px;
}
  .process-help__steps {
    margin-top: 30px;
  }
  .process-help__step-number-line {
    display: none;
  }
}

@media (max-width: 800px) {
  .values__inner {
    display: block;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .block-brands {
    padding: 30px 0;
  }
  .block-brands__brands {
    grid: repeat(5, 1fr) / repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 500px) {
  .block-brands__title {
    margin-bottom: 0;
  }
  .block-brands__title {
    font-size: 48px;
    line-height: 58px;
}
}

@media (max-width: 1270px) {
  .blog__cards {
    grid: repeat(3, 1fr) / repeat(2, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
  }
}
@media (max-width: 870px) {
  .blog {
    padding: 31px 0 36px;
}
.blog__title {
  margin-bottom: 0;
}
.blog__links {
  margin-bottom: 20px;
}
.blog__link {
  font-size: 22px;
  line-height: 48px;
}
  .blog__cards {
    display: block;
  }
  .blog__card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .blog__card-title {
    font-size: 24px;
    line-height: 38px;
    padding: 0;
}
.blog__link {
  margin-right: 10px;
}
}
@media (max-width: 630px) {
  .questions__inner {
    padding: 30px 0;
  }
  .questions__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 66px;
  }
  .questions__item {
    padding: 12px 10px 18px;
}
.questions__item-title {
  font-size: 12px;
  line-height: 36px;
}
}
@media (max-width: 1200px) {
  .contact__image-left img,
  .contact__image-right img {
    height: 400px;
  }
  .contact__text {
    padding: 80px 20px;
}
}

@media (max-width: 640px) {
  .contact__image-left img,
  .contact__image-right img {
    height: 200px;
  }
  .contact__text {
    padding: 20px 20px;
}
.contact__title {
  font-size: 22px;
  margin-bottom: 22px;
}
}
